<!doctype html>
<html>

  <head>
  {%load static%}
  <title>Caos News</title>
  <link href="{% static 'img/icon.png'%}" rel="shortcut icon" >
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="{% static 'js/Validacion.js' %}"></script>
  
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/business-frontpage.css'%}" rel="stylesheet">
  
    <!--Link hacia los iconos-->
    <link href="https://use.fontawesome.com/5e22f11e35.css" media="all" rel="stylesheet">
    
    <script>
      $(function() 
      {
        $("formulario").validate({
             rules: {
                    RutUsuario: "required",
                    nombreCom: "required",
                    telefono: "required",
                    direccion: "required",
                    email: "required",
                    idPais: "required",
                    image: "required",
                    passw: 'required'
                    },   
                    
               messages: 
                {
                RutUsuario: {
                    required: 'Ingresa tu rut',
                  },
                nombreCom: {
                    required: 'Ingrese su nombre',
                },
                telefono:{
                    required: 'Escriba su telefono',
                },
                direccion:{
                    required: 'Escriba su dirección',
                },
                email:{
                    required: 'Ingrese su email',
                },
                idPais:{
                    required: 'Seleccione su pais',
                image:{
                  required: 'Suba una fotografía',
                },
                passw:{
                  required: 'Ingrese su contraseña'
                },
                }
                 
            }//messages
        }); //$('#formulario').validate
    }); //function
</script>

  </head>
<body>
    <!-- Navegación -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon-png">
          <img src="{% static 'img/icon.png'%}" style="width: 70px; height: 55.47px;">
        </span>
      </button>

  <!---Icono de logo-->
      <a class="navbar-brand" href="{% url 'Index' %}">
        <img src="{% static 'img/icon.png' %}" style="width:70px">
      </a>

 

  <!---Opciones de navegación e iconos por sección-->    
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          

          <!-- Div de acceso-->
          <div class="ini-se">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'Index' %}">Inicio<span class="sr-only">(current)</span></a> 
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="ingreso">Ingresar un nuevo colaborador</a>
            </li>  
            <li class="nav-item active">
              <a class="nav-link" href="lista">Lista de partners</a>
            </li>  
          </div>
          
        </ul>
      </div>
    </div>
  </nav>

      <div class="container">
        <br>
        <br>
        <br>
        <div class="container-inside">
          <h1>
            Ingreso de Colaboradores
          </h1>
        </div>
        <div class="container-inside">
          <div class="row">
            <form method="POST" enctype=multipart/form-data action="#">

                {% csrf_token %}
                {{form}}
                <div class="row">
                    <div class="form-group">
                        {{usuario.RutUsuario.label}}
                        {{usuario.RutUsuario}} 
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        {{usuario.nombreCom.label}}
                        {{usuario.nombreCom}}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        {{usuario.telefono.label}}
                        {{usuario.telefono}}
                    </div>
                </div>

                <div class="row">
                  <div class="form-group">
                      {{usuario.direccion.label}}
                      {{usuario.direccion}}
                  </div>
                </div>

                <div class="row">
                  <div class="form-group">
                      {{usuario.email.label}}
                      {{usuario.email}}
                  </div>
                </div>

                <div class="row">
                  <div class="form-group">
                      {{usuario.idPais.label}}
                      {{usuario.idPais}}
                  </div>
              </div>

              <div class="row">
                <div class="form-group">
                    {{usuario.image.label}}
                    {{usuario.image}}
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                    {{usuario.passw.label}}
                    {{usuario.passw}}
                </div>
              </div>

                <div class="row">
                    <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
                    <input type="reset" class="btn btn-primary" id="limpiar" value="limpiar">
                </div>
                <br>
                <br>
                <div class="buttom-enviar">
                  <a href="lista" class="btn btn-danger">
                    Ver lista de los colaboradores
                  </a> 
              </div>

            </form>

        </div>
      </div>
    
      </div> 



    <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Caos News Ltda. @Copyrigth Derechos reservados.</p>
    </div>
    <div class="container" style="text-align: center;">
      <h3 class="footer__title" >Síguenos</h3>
      <div class="footer__social-networks">
        <a class="a-social-networks" href="#">
          <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>		
      <a class="a-social-networks" href="#">
          <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a class="a-social-networks" href="#">
          <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a class="a-social-networks" href="#">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
      </div>
  </div>
  </footer>



  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  
</body>
</html>